
.App {

}

.App-header {
  background-color: #282c34;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px;

}


.options-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.screen-container {
  max-width: 900px;
  margin: auto;
}

.option>img {
  cursor: pointer;
  width: 100%;
}

.option {
  border: 1px solid transparent;
  transition: border 100ms ease-in-out;
  margin: 10px;
  width: auto;
  width: 100px;
  overflow: hidden;
  background: transparent;
}

.option:hover {
  border: 1px solid black;
}
.option.active {
  border: 1px solid black;
}

